.country {
  font-family: "adobe-garamond-pro";
  text-decoration: underline;
  color: rgba(26,26,26,.7);
}

a {
  text-decoration: none;
  color: rgba(26,26,26,.7);
}

a:hover {
  text-decoration: underline;
  color: rgba(26,26,26,.7);
}

.blog {
  font-family: "adobe-garamond-pro";
}
